# Assignment1 :

# 1. Given two integer numbers return their product. If the product is greater than 1000, then return their sum.

In [1]:
def func(x1,x2):
    if(x1 * x2)>1000:
        return x1+x2
    else:
        return x1*x2

func(100,20)

120

# 2. Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number.

In [2]:
counter = 0
lists = range(10)
print(lists)
for a in lists:
    if counter != 0:
        sum = a + lists[counter-1]
    else:
        sum = a 
    print(f"{a}-->{sum}")
    counter +=1

range(0, 10)
0-->0
1-->1
2-->3
3-->5
4-->7
5-->9
6-->11
7-->13
8-->15
9-->17

# 3.Print First 10 natural numbers using while loop.

In [8]:
natural_numbers = range(1,50,1)
counter = 0
while counter < 10:
    print(natural_numbers[counter])
    counter += 1

1
2
3
4
5
6
7
8
9
10

# 4. Accept number from user and calculate the sum of all number from 1 to a given number

In [9]:
user_input = int(input("Enter a Number: "))
sum = 0
for x in range(1,user_input+1):
    print(x)
    sum += int(x)
print(sum)

Enter a Number: 8
1
2
3
4
5
6
7
8
36

# 5. Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

In [17]:
lists = [15,1,20,12,3,4,25,40,2,180,35,55]
for x in lists:
    if(x > 150):
        break
    elif(x//5):
        print(x)
    else:
        pass

15
20
12
25
40

# 6. Reverse the following list using for loop

In [14]:
R_list=[10,20,30,40,50,65,75,87]
output_list = []
index = len(R_list)
for x in range(index):
    output_list.append(R_list[index-1])
    index -= 1
print(output_list)

[87, 75, 65, 50, 40, 30, 20, 10]

# 7. Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function.or example: print('My', 'Name', 'Is', 'Tamim') will display MyNameIsJames

In [15]:
print('My', 'Name', 'Is', 'Rakib',sep = '**')

My**Name**Is**Rakib

# 8. Concatenate two lists index-wise

In [18]:
list1 = ["Rakib","Khalid","Sagor","Amit","Raju","Sajib","Mamun"]
list2 = ["-> AB+","-> O-","-> B-","-> O+","-> AB-", "-> A-", "-> B+"]
list3 = []
counter = 0
for x in list1:
    list3.append(x+list2[counter])
    counter = counter +1
print(list3)

['Rakib-> AB+', 'Khalid-> O-', 'Sagor-> B-', 'Amit-> O+', 'Raju-> AB-', 'Sajib-> A-', 'Mamun-> B+']

# 9. Given a Python list of numbers. Turn every item of a list into its square

In [19]:
list1 = [1,2.8,20,4,25,16,7.6,8,9,11.75]
square_list = []
for x in list1:
    square_list.append(x*x)
print(square_list)

[1, 7.839999999999999, 400, 16, 625, 256, 57.76, 64, 81, 138.0625]

# 10. Access value 20 from the following tuple -> aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [20]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
value = aTuple[1][1]
print(value)

20